                <!--Sidebar-->
                <div class="sidebar" data-color="purple">
                    <div class="sidebar-wrapper">
                        <div class="logo">
                            <a href="/" class="simple-text">
                                Unplugged Games
                            </a>
                        </div>
            
                        <ul class="nav" style="display: block;">
                            <% if (role == 'Admin') { %>
                            <li>
                                <a href="/profile/<%= username %>/carousel">
                                    <i class="pe-7s-photo"></i>
                                    <p>Carousel Setting</p>
                                </a>
                                <hr style="background-color: cornsilk;">
                            </li>                                
                            <li>
                                <a href="/profile/<%= username %>/article">
                                    <i class="pe-7s-airplay"></i>
                                    <p>Post Article</p>
                                </a>
                                <hr style="background-color: cornsilk;">
                            </li>
                            <li>
                                <a href="/profile/<%= username %>/articlelist">
                                    <i class="pe-7s-bookmarks"></i>
                                    <p>Article List</p>
                                </a>
                                <hr style="background-color: cornsilk;">
                            </li>
                            <% } %>
                            <li>
                                <a href="/profile/<%= username %>">
                                    <i class="pe-7s-user"></i>
                                    <p>User Profile</p>
                                </a>
                                <hr style="background-color: cornsilk;">
                            </li>
                            <li>
                                <a href="/profile/<%= username %>/readlist">
                                    <i class="pe-7s-note2"></i>
                                    <p>Read List</p>
                                </a>
                                <hr style="background-color: cornsilk;">
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="pe-7s-power"></i>
                                    <p>Log Out</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Sidebar end-->