
<div class="col-xl-3 col-lg-4 col-md-5 sidebar">
    <div id="stickySidebar">
        <div class="widget-item">
            <h4 class="widget-title">Trending</h4>
            <div class="trending-widget">
                <% trending.forEach(trending => { %>
                <div class="tw-item">
                    <div class="tw-thumb">
                        <img style="width: 80px; height: 80px;" src="data:image/<%= trending.image.contentType %>;base64,<%= trending.image.data.toString('base64') %>" alt="#">
                    </div>
                    <div class="tw-text">
                            <% if (trending.category == 'News') { %>
                            <div class="tw-meta"><%= trending.createdAt.toDateString() %>  /  in <a href="/newslist"><%= trending.category %></a></div>
							<% } else { %>
                            <div class="tw-meta"><%= trending.createdAt.toDateString() %>  /  in <a href="/reviewlist"><%= trending.category %></a></div>
                            <% } %>
                        <h5 style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;"><a href="/article/<%= trending.slug %>" style="color: azure;"><%= trending.title %></a></h5>
                    </div>
                </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>

