<html>
<head>

	<%- include('../partials/head'); %>
	<%- include('../partials/header'); %>
<body>

    <!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="section-title text-white">
						<br></br>
							<h2>Search for Your Favorite Games</h2>
                    </div>

					<br>
					<div style="margin-top: -30px; margin-bottom: -30px;">
					<ul class="blog-filter">
						<li><a href="/newslist">News</a></li>
						<li><a href="/reviewlist">Reviews</a></li>
					</ul>
                    </div>
                    
                    <!--Search Box-->

                    <div class="search" style="position: absolute;"><form action="/games" method="GET"> 
						<input type="search" class="search-box" id="search" name="search"/>
						</form>
                        <span class="search-button">
                            <span class="search-icon"></span>
                          </span> </div>
                    <div><br><br><br></div>
					<!-- Blog item -->
					<% if(article) { %>
					<% article.forEach(article => { %>
										<div class="blog-item">
											<div class="blog-thumb">
												<img src="data:image/<%= article.image.contentType %>;base64,<%= article.image.data.toString('base64') %>" alt="" style="height: 325">
										</div>
										<div class="blog-text text-box text-white">
										<div class="top-meta"><label><%= article.updatedAt.toLocaleString() %> | <a href="/reviewlist"><%= article.category %></a></div>
										<h3><%= article.title %></h3>
										<p style="color:#ffffff"><%= article.summary %><b></b>
										</p>
									<a href="/article/<%= article.slug %>" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
								</div>
							</div>
						<% })} %>
					<!-- Blog item -->



                </div>
                <!-- Blog item -->
                

				<%- include('../partials/trending'); %>
				</div>
			</div>
		</div>
	</section>
    <!-- Blog section end -->
    
   <!-- Footer section -->
   <%- include('../partials/footer'); %>
	<!-- Footer section end -->


    <!--====== Javascripts & Jquery ======-->
	<%- include('../partials/script'); %>
    <script>
    $('.search-button').click(function(){
        $(this).parent().toggleClass('open');
      });
    </script>
    

</body>
</html>