<html>
<head>

	<%- include('../partials/head'); %>
	<%- include('../partials/header'); %>
<body>

    <!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="section-title text-white">
						<br></br>
							<h2>Search for Your Favorite Games</h2>
                    </div>

					<br>
					<div style="margin-top: -30px; margin-bottom: -30px;">
					<ul class="blog-filter">
						<li><a href="/newslist">News</a></li>
						<li><a href="/reviewlist">Reviews</a></li>
					</ul>
                    </div>
                    
                    <!--Search Box-->

                    <div class="search" style="position: absolute;"><form action="/games" method="GET"> 
						<input type="search" class="search-box" id="search" name="search"/>
						</form>
                        <span class="search-button">
                            <span class="search-icon"></span>
                          </span> </div>
                    <div><br><br><br></div>
					<!-- Blog item -->
					<% if(article) { %>
					<% article.forEach(article => { %>
										<div class="blog-item">
											<div class="blog-thumb">
												<img src="data:image/<%= article.image.contentType %>;base64,<%= article.image.data.toString('base64') %>" alt="" style="height: 325">
										</div>
										<div class="blog-text text-box text-white">
										<div class="top-meta"><label><%= article.updatedAt.toLocaleString() %> | <a href="/reviewlist"><%= article.category %></a></div>
										<h3><%= article.title %></h3>
										<p style="color:#ffffff"><%= article.summary %><b></b>
										</p>
									<a href="/article/<%= article.slug %>" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
								</div>
							</div>
						<% })} %>
					<!-- Blog item -->



                </div>
                <!-- Blog item -->
                

				<div class="col-xl-3 col-lg-4 col-md-5 sidebar">
					<div id="stickySidebar">
						<div class="widget-item">
							<h4 class="widget-title">Trending</h4>
							<div class="trending-widget">
								<div class="tw-item">
									<div class="tw-thumb">
										<img src="images/dota2-mini.jpg" alt="#">
									</div>
									<div class="tw-text">
										<div class="tw-meta">11.11.20  /  in <a href="">Games</a></div>
										<h5>Is Dota 2 Dead?</h5>
									</div>
								</div>
								<div class="tw-item">
									<div class="tw-thumb">
										<img src="images/valorant-mini.jpg" alt="#">
									</div>
									<div class="tw-text">
										<div class="tw-meta">11.11.20  /  in <a href="">Games</a></div>
										<h5>Valorant Fever Still Going Strong!</h5>
									</div>
								</div>
								<div class="tw-item">
									<div class="tw-thumb">
										<img src="images/nba2k21-mini.png" alt="#">
									</div>
									<div class="tw-text">
										<div class="tw-meta">11.11.18  /  in <a href="">Reviews</a></div>
										<h5>NBA 2K21's Disgusting Microtransactions</h5>
									</div>
								</div>
								<div class="tw-item">
									<div class="tw-thumb">
										<img src="images/THPS-mini.jpg" alt="#">
									</div>
									<div class="tw-text">
										<div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
										<h5>The Return of the King - Tony Hawk!</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">categories</h4>
								<ul>
									<li><a href="">Games</a></li>
									<li><a href="">Game Walkthroughs</a></li>
									<li><a href="">Online Games</a></li>
									<li><a href="">Community</a></li>
								</ul>
							</div>
                        </div>
											<!--ad space (unused for now)
											<div class="widget-item">
											<a href="#" class="add">
												<img src="./img/add.jpg" alt="">
											</a>-->
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- Blog section end -->
    
   <!-- Footer section -->
   <%- include('../partials/footer'); %>
	<!-- Footer section end -->


    <!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky-sidebar.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
	<!-- <script>
		$('#search-critera').onkeyup(function() {

			// Place JavaScript code here...
			function searchPartial(form) {
			var formData = $(search-criteria).serializeArray();
			$.get('/games', {
				search: formData[0].value
			}).then(function (data) {
				$('#search-result').html(data);
			});
			}

			window.searchPartial = searchPartial;
		});
	</script> -->
    <!-- <script>
    $("#search-criteria").on("keyup", function() {
        var g = $(this).val().toLowerCase();
        $(".blog-item").each(function() {
            var s = $(this).text().toLowerCase();
            $(this).closest('.blog-item')[ s.indexOf(g) !== -1 ? 'fadeIn' : 'fadeOut' ]();

            });
        });
	</script> -->
	<!-- <script>
			$("#search-criteria").on("keyup", function() {
				var g = $(this).val().toLowerCase();
				$.ajax({
					dataType: 'json',
					data: $('#title').serialize(),
					type: 'GET',
					url: "/games",
					success: handleButtonResponse,
				});
				});
	</script> -->
    <script>
    $('.search-button').click(function(){
        $(this).parent().toggleClass('open');
      });
      </script>
    

</body>
</html>