<html>
    <%- include('../partials/head'); %>
	<%- include('../partials/header'); %>
    <body>
        <section class="blog-section spad" style="min-height: 76vh; padding-top: 250px;">
        <div class="container">
        <form class="login_form" action="/login" method="post" name="form" id="form" onsubmit="return checklogin()">
            <div class="modal-header">
            <h5 class="modal-title" id="loginModalLongTitle">Login</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                        <label for="email"><b>Email</b></label>
                        <br>
                        <input type="text" placeholder="Enter email" name="email" id="email" required>
                        <br>
                        <label for="psw"><b>Password</b></label>
                        <br>
                        <input type="password" placeholder="Enter Password" name="password" id="password" required>
                        <br>
                        <span id="messagelogin"></span>
                        <% if (messages.error){
                            %>
                            <%= messages.error %> 
                            <% } %> 
                            <% if (messages.info){
                                %>
                                <%= messages.info %> 
                                <% } %> 
                            <% if (messages.success){
                                %>
                                <%= messages.success %> 
                                <% } %> 
                        <br>
                        <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="login" id="login">Login</button>
        </div>
    </form>
</div>
</section>
        <%- include('../partials/footer'); %>

        <!--====== Javascripts & Jquery ======-->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky-sidebar.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/login.js"></script>
        <script src="js/Register.js"></script>
</body>
</html>