<html>
	<%- include('../partials/head'); %>
	<%- include('../partials/header'); %>
<body>

    <!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="section-title text-white">
						<br></br>
							<h2>Latest Reviews</h2>
					</div>
					<br>
					<div style="margin-bottom: -60px; margin-top: -30px;">
					<ul class="blog-filter">
						<li><a href="newslist1.html">News</a></li>
						<li><a href="reviewlist.html">Reviews</a></li>
						<li><a href="#">JRPG</a></li>
						<li><a href="#">MMORPG</a></li>
					</ul>
					</div>
					<!-- Blog item -->
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="images/genshin.jpg" alt="" style="height: 325">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Genshin Impact, the Latest Open-World RPG Game </h3>
							<p style="color:#ffffff"><b>UNPLUGGED GAMES, Jakarta - After going through the beta test period, miHoYo finally released Genshin Impact officially on September 28, 2020. 
								This game was released for free for the PS4, PC, and mobile (Android & iOS) platforms. also can't wait to play it. 
								Because, apart from the controversy, miHoYo's reputation with Honkai Impact 3rd as one of the mobile games with the most beautiful visuals also invites curiosity.</b>
                            </p>
							<a href="review.html" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
						</div>
					</div>
					<!-- Blog item -->
					
					<!-- Blog item -->
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="images/fifa21.jpg" alt="" style="height: 325">
						</div>
						<div class="blog-text text-box text-white">
							<h3>FIFA 21 review: A fresher take on the series</h3>
							<p style="color:#ffffff"><b>UNPLUGGED GAMES, Jakarta - When Konami decided to release the "deserved" PES this year because of COVID-19 and go straight to the next generation of game engines, 
								EA Sports decided to continue their regular FIFA 21 releases. 
								And let's be honest, some of the features that initially sound worth buying at full price ... if they don't do more harm than good.</b>
							</p>
							<a href="review.html" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
						</div>
					</div>
					<!-- Blog item -->

					<!-- Blog item -->
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="images/tsubasa.jpg" alt="" style="height: 325">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Captain Tsubasa: Rise of New Champions</h3>
							<p style="color:#ffffff"><b>UNPLUGEED GAMES, Jakarta - One of the newest AAA games Captain Tsubasa has finally been officially released by Bandai Namco. The game is titled Captain Tsubasa: Rise of New Champions. Perhaps, the last time the 
							    Captain Tsubasa game was most fun to play for consoles was the era of the last PS2 generation. Will this latest game be able to answer the expectations of gamers and fans?</b>
							</p>
							<a href="#" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
						</div>
					</div>
					<!-- Blog item -->
                    
					<!-- Blog item -->
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="images/fall_guys.jpg" alt="" style="height: 325">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Fall Guys Games Review: Easy and fun battle royale games </h3>
							<p style="color:#ffffff"><b>UNPLUGEED GAMES, Jakarta - The world of gaming is currently busy discussing the game Fall Guys: Ultimate Knockout. 
								A Battle Royale genre game by Mediatonic and Devolver Digital which was recently released for PC via Steam and the Playstation 4 console. Whether using what mix, the developer of this game ...</b></p>
							<a href="review1.html" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
						</div>
                    </div>
					<!-- Blog item -->
					
					<!-- Blog item -->
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="images/among us.png" alt="" style="height: 325">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Review Game Among Us, the Viral InnerSloth Creation in 2020, Game of Accusation</h3>
							<p style="color:#ffffff"><b>UNPLUGGED GAMES, Jakarta - Among Us is a game created by Innersloth which was first released in 2018. Even though it was released in 2018, Among Us went viral in 2020. 
								Among Us is a 4-10 person multiplayer game with an interesting space theme. In this game, we will be given a role between a crewmate or impostor who has their respective duties.</b></p>
							<a href="#" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
						</div>
                    </div>
                    <!-- Blog item -->

                    <!-- Blog item -->
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="images/XC_Future_Connected.jpg" alt="" style="height: 300">
						</div>
						<div class="blog-text text-box text-white">
							<h3><b>Xenoblade Chronicles: Future Connected - How Does It Compare to It's Predecessor?</h3>
							<p style="color:#ffffff">UNPLUGGED GAMES, Jakarta - Xenoblade Chronicles: Future Connected (Japanese: つながる未来, Tsunagaru mirai) is an extra epilogue story extension of Xenoblade Chronicles: Definitive Edition. 
                                It revolves around Melia, accompanied by Shulk and two unfamiliar Nopon, Kino and Nene, who are all playable in the new area Bionis' Shoulder. </b></p>
							<a href="review.html" class="read-more">Read More  <img src="images/icons/double-arrow.png" alt="#"/></a>
						</div>
					</div>
                </div>
                <!-- Blog item -->
                

                <%- include('../partials/trending'); %>

				</div>
			</div>
		</div>
	</section>
    <!-- Blog section end -->
    
   <!-- Footer section -->
   <%- include('../partials/footer'); %>
	<!-- Footer section end -->


    <!--====== Javascripts & Jquery ======-->
	<%- include('../partials/script'); %>

</body>
</html>