<html>
	<%- include('../partials/head'); %>
	<%- include('../partials/header'); %>
	<title>Unplugged Games Latest Reviews</title>
<body>

    <!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="section-title text-white">
						<br></br>
							<h2>Latest Reviews</h2>
					</div>
					

					<!-- Blog item -->
					<% for (var i = 0; i < article.length; i++) { %>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="data:image/<%= article[i].image.contentType %>;base64,<%= article[i].image.data.toString('base64') %>" alt="" style="height: 325; width: 345;">
						</div>
						<div class="blog-text text-box text-white">
							<div class="top-meta"><label><%= article[i].createdAt.toLocaleString() %> | <a href="/reviewlist"><%= article[i].category %></a></div>
							<h3 style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;"><%= article[i].title %></h3>
							<p style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; color: rgb(255, 255, 255);"><%= article[i].summary %><b></b>
                            </p>
							<a href="/article/<%= article[i].slug %>" class="read-more">Read More <img src="/images/icons/double-arrow.png" alt="#"/></a>
						</div>
					</div>
					<!-- Blog item -->
					<% } %>
					<div>
						<!-- Pagination -->
							<div class="container mt-5" style="margin-top: 50px;"><div class="row ">
							<div class="col justify-content-center">
								<div class="d-flex justify-content-center">
								<nav aria-label="...">
									<ul class="pagination pagination-lg">
									
									<% if(pagination.previous) {%>
									<li class="page-item"><a class="page-link" href="/reviewlist/?page=<%= pagination.previous.page %>">Back</a></li>
									<%} else {%>
									<li class="page-item disabled"><a class="page-link">Back</a></li>
									<% } %>
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1">Page <%= currentpage %></a>
									</li>
									<% if(pagination.next) {%>
										<li class="page-item"><a class="page-link" href="/reviewlist/?page=<%= pagination.next.page %>">Next</a></li>
									<%} else {%>
										<li class="page-item disabled"><a class="page-link">Next</a></li>
										<% } %>
									</ul>
								</nav>
								</div>
							</div>
							</div>
						</div>

					</div>
			<!-- Pagination -->
				</div>
				
                <%- include('../partials/trending'); %>

				</div>
			</div>
		
	</section>
    <!-- Blog section end -->
    
   <!-- Footer section -->
   <%- include('../partials/footer'); %>
	<!-- Footer section end -->


    <!--====== Javascripts & Jquery ======-->
	<%- include('../partials/script'); %>

</body>
</html>