<html>
    <%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
    <style>
    .backgroundA {
        background-image: url("data:image/<%= article.image.contentType %>;base64,<%= article.image.data.toString('base64') %>");
    }
    </style>
<body>

    <!-- Intro section -->
	    <section class="intro-news-section set-bg d-flex align-items-end backgroundA">
            <div class="container">
                <div class="news-text">
                    <h2><%= article.title %></h2>
                    <p><%= article.summary %></p>
                    <h6>Written by <a href="/staff" style="color:red"><u><%= fullName.firstName + " " + fullName.lastName %></u></a></h6>
                    <h6>Published: <%= article.createdAt.toLocaleString() %>, last Updated <%= article.updatedAt.toLocaleString() %></h6>
                </div>
            </div>
        </section>
    <!-- Intro section end -->
    
    <!--News body section-->
    <section class="blog-section spad">
		<div class="container">
			<div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7">
                <!--News content-->
                <%- article.content %>
                
                <hr class="border-bottom">
                <h4><a href="" style="color:rgb(255, 255, 255)">Related News</a><u></u> </h4><br>               
                <!--Card Group-->
                <div class="card-deck">
                    <% for(var i=0; i < 3; i++) { %>
                        <div class="card">
                            <a href="/article/<%= relatednews[i].slug %>"><img src="data:image/<%= relatednews[i].image.contentType %>;base64,<%= relatednews[i].image.data.toString('base64') %>" class="card-img-top" alt="..." height="160px"></a>
                            <div class="card-body">
                                <a href="/article/<%= relatednews[i].slug %>"><h5 class="card-title"><%= relatednews[i].title %></h5></a>
                              <p class="card-text"><%= relatednews[i].summary %> </p>
                              <p class="card-text"><small class="text-muted">Last Updated <%= article.updatedAt.toLocaleString() %></small></p>
                            </div>
                        </div>
                        <% } %>
                </div>
                <hr class="border-bottom">
                <!--Comments section-->
                <h4><a href="" style="color:rgb(255, 255, 255)">Comments</a><u></u> </h4><br>
                <!--Posted Comments-->
                <div class="container">
                    <div class="row">
                        <!--Comment item-->
                        <div class="col-sm-1">
                            <div class="thumbnail">
                            <img class="rounded-circle" src="images/avatar/comment1.png">
                            </div><!--thumbnail -->
                        </div>
                        
                        <div class="col-sm-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>UnpluggedBox</strong> <span style="color: whitesmoke;">commented 5 days ago</span>
                                </div>
                            <div class="panel-body">
                            Horrible news, this is embarassing!
                            </div><!--panel body -->
                            </div><!--panel default -->
                        </div>
                    </div>
                    <hr style="background-color: cadetblue;">
                    <!--Comment item-->
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                            <img class="rounded-circle" src="images/avatar/comment2.jpg">
                            </div><!--thumbnail-->
                        </div>
                        
                        <div class="col-sm-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Shroud</strong> <span style="color: whitesmoke;">commented 3 days ago</span>
                                </div>
                            <div class="panel-body">
                            I don't want to use facebook anymore..
                            </div><!--panel body -->
                            </div><!--panel default-->
                        </div>
                    </div>
                    <hr style="background-color: cadetblue;">
                    <!--Comment item-->
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                            <img class="rounded-circle" src="images/avatar/comment3.jpg">
                            </div><!--thumbnail -->
                        </div>
                        
                        <div class="col-sm-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Dendi</strong> <span style="color: whitesmoke;">commented 2 days ago</span>
                                </div>
                            <div class="panel-body">
                            I'll be buying the HTC Vive instead!
                            </div><!--panel-body -->
                            </div><!--panel default-->
                        </div>
                    </div>
                </div>
                <!--Posted Comments section end-->
                <hr class="border-bottom">
                <!--Comment section-->
                <form action="news.html" id="usrform">
                    Name: <input type="text" name="usrname">
                    <input type="submit">
                  </form>
                  <br>
                  <textarea rows="4" cols="50" name="comment" form="usrform">
                    Enter your comment here...</textarea>
                </div>
                <!--Comment section end-->
                <!--Sidebar other reviews-->
                        <div class="col-xl-3 col-lg-5 col-md-5 sidebar">
                            <div id="stickySidebar">
                                <div class="widget-item">
                                    <h4 class="widget-title">Other Reviews</h4>
                                    <div class="trending-widget">
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="images/dota2-mini.jpg" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.20  /  in <a href="">Games</a></div>
                                                <h5>Is Dota 2 Dead?</h5>
                                            </div>
                                        </div>
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="images/valorant-mini.jpg" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.20  /  in <a href="">Games</a></div>
                                                <h5>Valorant Fever Still Going Strong!</h5>
                                            </div>
                                        </div>
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="images/nba2k21-mini.png" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.18  /  in <a href="">Reviews</a></div>
                                                <h5>NBA 2K21's Disgusting Microtransactions</h5>
                                            </div>
                                        </div>
                                        <div class="tw-item">
                                            <div class="tw-thumb">
                                                <img src="images/THPS-mini.jpg" alt="#">
                                            </div>
                                            <div class="tw-text">
                                                <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
                                            <h5>The Return of the King - Tony Hawk!</h5>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <!--Sidebar other reviews END-->
                </div>
            </div>
     </section> 
    <!--News Body Section End-->
     
    <!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<a href="#" class="footer-logo">
				<img src="images/unplugged-logo.png" alt="">
			</a>
			<ul class="main-menu footer-menu">
				<li><a href="hpsesudahlogin.html">Home</a></li>
				<li><a href="games.html">Games</a></li>
				<li><a href="reviewlist.html">Reviews</a></li>
				<li><a href="newslist1.html">News</a></li>
				<li><a href="staff.html">Contact</a></li>
			</ul>
		</div>
	</footer>
	<!-- Footer section end -->


    <!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky-sidebar.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>