<html>
    <%- include('../partials/profilehead'); %>
<body>
            <div class="wrapper">
                <%- include('../partials/sidebar'); %>

                <!--Main Panel/Content-->
                <div class="main-panel">
                    <nav class="navbar navbar-default navbar-fixed" style="background-color: rgba(226, 30, 228, 0.24);">
                        <div class="container-fluid" >
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#" style="color: cornsilk;">User Profile</a>
                            </div>
                            <div class="user-panel">
                                <a href="/">Back</a>
                            </div>
                        </div>
                    </nav>
                    

                    <div class="content">
                        <div class="container-fluid">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">News and Review Read History</h4>
                                            <p class="category">Articles you've read</p>
                                        </div>
                                        <div class="content table-responsive table-full-width">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <th>No</th>
                                                    <th>Article</th>
                                                    <th>Writer</th>
                                                    <th>Category</th>
                                                </thead>
                                                <tbody>
                                                    <% i = 0 %>
                                                    <% historyResult.forEach(historyResult => { %>
                                                    <tr>
                                                        <td><%= i = i + 1 %></td>
                                                        <td><a href="/article/<%= historyResult.slug %>" style="color: black;"><%= historyResult.title %></a></td>
                                                        <td><%= historyResult.firstName %> <%= historyResult.lastName %></td>
                                                        <td><%= historyResult.category %></td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>


            <!-- Footer section -->
            <%- include('../partials/footer'); %>

            <!-- Footer section end -->
    </div>  
    <!--Wrapper End-->
    <!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky-sidebar.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>